body {
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    ;
}

main {
    padding: 4rem 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    min-height: 400px;
}

h1 {
    color: #000000;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    color: #000000;
    margin-top: 2rem;
}

h3 {
    color: #000000;
    margin-top: 2rem;
}

p {
    line-height: 1.6;
    text-indent: 3em;
}

figure img {
    max-width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 4px;
}